body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #2e2e2e;
  color: #ffffff;
  margin: 0;
}

.container {
  text-align: center;
  background: #424242;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

input,
button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

input {
  background: #555555;
  color: #ffffff;
}

button {
  background: #ff8c00;
  color: #ffffff;
  cursor: pointer;
}

button:hover {
  background: #ffa500;
}

#listOutput {
  margin-top: 20px;
  font-size: 1.2em;
  font-weight: bold;
}
